.u {
  &-center-text {
    text-align: center !important;
  }

  &-margin-bottom {
    &-small {
      margin-bottom: 1.5rem !important;
    }
    &-medium {
      margin-bottom: 4rem !important;
    }
    &-big {
      margin-bottom: 8rem !important;
    }
  }

  &-margin-top {
    &-huge {
      margin-top: 10rem !important;
    }

    &-big {
      margin-top: 8rem !important ;
    }
  }
}
